# {{ ansible_managed }}

<VirtualHost *:80>
	ServerName {{ ansible_host }}

	RewriteEngine on
	RewriteRule ^(.*)$ https://{{ ansible_host }}$1 [R=301,L]

	ErrorLog /var/www/{{ ansible_host }}/log/error.log
	CustomLog /var/www/{{ ansible_host }}/log/access.log combined
</VirtualHost>

<VirtualHost *:443>
	DocumentRoot /var/www/{{ ansible_host }}/public_html
	ServerName {{ ansible_host }}

	SSLEngine on

	SSLCertificateFile /etc/letsencrypt/live/{{ ansible_host }}/cert.pem
	SSLCertificateChainFile /etc/letsencrypt/live/{{ ansible_host }}/chain.pem
	SSLCertificateKeyFile /etc/letsencrypt/live/{{ ansible_host }}/privkey.pem
	SSLCACertificateFile /etc/letsencrypt/live/{{ ansible_host }}/fullchain.pem

	<Directory /var/www/{{ ansible_host }}/public_html/>
		Options FollowSymLinks MultiViews
		AllowOverride All
		Require all denied
	</Directory>

	ErrorLog /var/www/{{ ansible_host }}/log/error.log
	CustomLog /var/www/{{ ansible_host }}/log/access.log combined
</VirtualHost>
