# {{ ansible_managed }}

<VirtualHost *:80>
	DocumentRoot /var/www/{{ ansible_host }}/public_html
	ServerName {{ ansible_host }}

	<Directory /var/www/{{ ansible_host }}/public_html/>
		Options FollowSymLinks MultiViews
		AllowOverride All
		Require all denied
	</Directory>

	ErrorLog /var/www/{{ ansible_host }}/log/error.log
	CustomLog /var/www/{{ ansible_host }}/log/access.log combined
</VirtualHost>
